@model IEnumerable<ShoeStore.Models.ProductDetail>
@{
	ViewData["Title"] = "PShop";
	Layout = "~/Views/Shared/_Layout.cshtml";
	@using System.Globalization;
	List<WishList> wishlists = ViewBag.wishlist;
	List<Product> products = ViewBag.Product;
	List<Category> categories = ViewBag.Category;
}

<!-- Slider -->

<div class="main_slider" style="background-image:url(/assets/images/slider_2.png)">
	<div class="container fill_height">
		<div class="row align-items-center fill_height">
			<div class="col">
				<div class="main_slider_content">
					<h6>BỘ SƯU TẬP XUÂN HÈ 2024</h6>
					<h1>Nhận tới 20% giảm giá hàng mới</h1>
					<div class="red_button shop_now_button"><a href="~/shop/index">mua ngay</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner -->
<div class="banner">
	<div class="container">
		<div class="row">
				@foreach (var item in categories)
				{				
					<div class="col-md-4">
						<div class="banner_item align-items-center" style="background-image:url(@item.Image)">
							<div class="banner_category">
								<a asp-controller="shop" asp-action="index" asp-route-id="@item.Id">@item.Name</a>
							</div>
						</div>
					</div>
				}
		</div>
	</div>
</div>

<!-- New Arrivals -->
<div class="new_arrivals">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="section_title new_arrivals_title">
					<h2>Mặt hàng mới nhất </h2>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col text-center">
				<div class="new_arrivals_sorting">
					<ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
						<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">Tất cả</li>
						@{		
							foreach (var item in categories)
							{
								<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".@item.Alias">@item.Name</li>
							}
						}
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

					<!-- Product 1 -->
					@if (Model != null && Model.Any())
					{
						foreach (var item in Model.OrderByDescending(x => x.UpdateAt).Take(10))
						{
							var prd = products.FirstOrDefault(p => p.Id == item.ProductId);
							var category = categories.FirstOrDefault(c => c.Id == prd.CategoryId);
							var userid = 0;
							@if (User.Identity.IsAuthenticated)
							{
								userid = int.Parse(User.Claims.FirstOrDefault(u => u.Type == "Id").Value);
							}
							var wishlist = wishlists.FirstOrDefault(w => w.AccountId == userid && w.ProductDetailId == item.Id);
							var isWishlist = false;
							if (wishlist != null)
							{
								isWishlist = true;
							}
							<div class="product-item @category.Alias">
								<div class="product discount product_filter">
									<div class="product_image">
										<img src="@item.Image" height="221px" alt="@item.Name">
									</div>
									@if (isWishlist == true)
									{
										<div class="favorite favorite_left active" data-id="@item.Id"></div>
									}
									else
									{
										<div class="favorite favorite_left" data-id="@item.Id"></div>
									}
									@if (item.PriceSale > 0)
									{
										<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
									}
									<div class="product_info">
										<h6 class="product_name"><a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id"> @item.Name</a></h6>
										@if (item.PriceSale > 0)
										{
											<div class="product_price">@item.PriceSale?.ToString("C0", new CultureInfo("vi-VN"))<span>@item.Price.ToString("C0",new CultureInfo("vi-VN"))</span></div>

											<div style="display:none;" class="in_product_price"> @item.PriceSale</div>
										}
										else
										{
											<div class="product_price">@item.Price.ToString("C0", new CultureInfo("vi-VN"))</div>
											<div style="display:none;" class="in_product_price"> @item.Price</div>
										}
									</div>
								</div>
								<div class="red_button add_to_cart_button"><a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id">Mua ngay</a></div>
							</div>
						}

					}

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Deal of the week -->

@* <div class="deal_ofthe_week">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="deal_ofthe_week_img">
					<img src="~/assets/images/deal_ofthe_week.png" alt="">
				</div>
			</div>
			<div class="col-lg-6 text-right deal_ofthe_week_col">
				<div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
					<div class="section_title">
						<h2>Deal Of The Week</h2>
					</div>
					<ul class="timer">
						<li class="d-inline-flex flex-column justify-content-center align-items-center">
							<div id="day" class="timer_num">03</div>
							<div class="timer_unit">Day</div>
						</li>
						<li class="d-inline-flex flex-column justify-content-center align-items-center">
							<div id="hour" class="timer_num">15</div>
							<div class="timer_unit">Hours</div>
						</li>
						<li class="d-inline-flex flex-column justify-content-center align-items-center">
							<div id="minute" class="timer_num">45</div>
							<div class="timer_unit">Mins</div>
						</li>
						<li class="d-inline-flex flex-column justify-content-center align-items-center">
							<div id="second" class="timer_num">23</div>
							<div class="timer_unit">Sec</div>
						</li>
					</ul>
					<div class="red_button deal_ofthe_week_button"><a asp-controller="shop" asp-action="index">shop now</a></div>
				</div>
			</div>
		</div>
	</div>
</div> *@

<!-- Best Sellers -->

<div class="best_sellers">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="section_title new_arrivals_title">
					<h2>Sản phẩm khuyến mãi</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="product_slider_container">
					<div class="owl-carousel owl-theme product_slider">

						<!-- Slide 1 -->
						@if (Model != null && Model.Any())
						{
							foreach (var item in Model.Where(x=>x.PriceSale != null))
							{
								var prd = products.FirstOrDefault(p => p.Id == item.ProductId);
								var userid = 0;
								@if (User.Identity.IsAuthenticated)
								{
									userid = int.Parse(User.Claims.FirstOrDefault(u => u.Type == "Id").Value);
								}

								var wishlist = wishlists.FirstOrDefault(w => w.AccountId == userid && w.ProductDetailId == item.Id);
								var isWishlist = false;
								if (wishlist != null)
								{
									isWishlist = true;
								}
								<div class="owl-item product_slider_item">
									<div class="product-item item">
										<div class="product discount product_filter">
											<div class="product_image">
												<img src="@item.Image" height="221px" alt="@item.Name">
											</div>
											@if (isWishlist)
											{
												<div class="favorite favorite_left active" data-id="@item.Id"></div>
											}
											else
											{
												<div class="favorite favorite_left" data-id="@item.Id"></div>
											}
											@if (item.PriceSale > 0)
											{
												<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
											}
											<div class="product_info">
												<h6 class="product_name"><a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id">@item.Name</a></h6>
												@if (item.PriceSale > 0)
												{
													<div class="product_price">@item.PriceSale?.ToString("C0", new CultureInfo("vi-VN"))<span>@item.Price.ToString("C0", new CultureInfo("vi-VN"))</span></div>

													<div style="display:none;" class="in_product_price"> @item.PriceSale</div>
												}
												else
												{
													<div class="product_price">@item.Price.ToString("C0", new CultureInfo("vi-VN"))</div>
													<div style="display:none;" class="in_product_price"> @item.Price</div>
												}
											</div>
										</div>
										
									</div>
								</div>
							}
						}
					</div>

					<!-- Slider Navigation -->

					<div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
						<i class="fa fa-chevron-left" aria-hidden="true"></i>
					</div>
					<div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

