@using X.PagedList;
@using X.PagedList.Web.Common;
@using X.PagedList.Mvc.Core;
 @using System.Globalization;
@model X.PagedList.PagedList<ShoeStore.Models.Order>
@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/homeadmin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>
        </div>
        <div class="card-body">
            <div class="row">
                  
                         <div class="col-md-4">
                             <form id="searchForm" asp-controller="order" asp-action="Index" method="get">
                            <div class="input-group input-group-sm">
                                <select id="statusFilter" name="status" class="form-control">
                                    <option value="">Chọn trạng thái</option>
                                    <option value="1" @(ViewBag.status == 1 ? "selected" : "")>Chờ xác nhận</option>
                                    <option value="2" @(ViewBag.status == 2 ? "selected" : "")>Đã xác nhận</option>
                                    <option value="3" @(ViewBag.status == 3 ? "selected" : "")>Đang giao hàng</option>
                                    <option value="4" @(ViewBag.status == 4 ? "selected" : "")>Giao hàng thành công</option>
                                    <option value="5" @(ViewBag.status == 5 ? "selected" : "")>Chờ hủy</option>
                                    <option value="0" @(ViewBag.status == 0 ? "selected" : "")>Đơn đã hủy</option>
                                </select>
                            </div>
                             </form>
                        </div>
                        <div class="col-4">
                            <!-- Tìm kiếm  -->
                    <form id="searchForm2" asp-controller="order" asp-action="Index" method="get">
                            <div class="input-group input-group-sm">
                                <input id="searchtext" type="text" name="searchtext" class="form-control" value="@ViewBag.searchtext" />
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
                                </span>
                            </div>
                            </form>
                        </div>
                    
              
            </div>
            <div style="padding-top:10px">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại </th>
                            <th>Tiền </th>
                            <th>Hình thức thanh toán</th>
                            <th>Trạng thái</th>
                            <th>Ngày tạo</th>
                            <th style="width:150px">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;

                            foreach (var item in Model)
                            {
                                <tr id="trow_@item.Id">
                                    <td>@i</td>
                                    <td>@item.Code</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.Phone</td>
                                    <td>@item.TotalAmount.Value.ToString("C0", new CultureInfo("vi-VN"))</td>
                                    <td style="text-align:center">@item.TypePayment</td>
                                    @if (item.StatusOrder == 1)
                                    {
                                        <td><span>Chờ xác nhận</span></td>
                                        <td>@item.CreateAt.Value.ToString("dd/MM/yyyyy")</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Thao tác
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a href=" @Url.Action("vieworder", new { id = item.Id })" class="dropdown-item ">
                                                        <i class="mdi mdi-eye-outline me-2"></i>
                                                        <span>Xem đơn hàng</span>
                                                    </a>
                                                    <a href="@Url.Action("Confirm", new { id = item.Id })" class="dropdown-item">
                                                        <i class="mdi mdi-receipt-text-check-outline"></i>
                                                        <span>Xác nhận</span>
                                                    </a>
                                                    <a data-itemid="@item.Id" href="@Url.Action("CancelOrder", new { id = item.Id })" class="dropdown-item delete-record">
                                                        <i class="mdi mdi-receipt-text-remove"></i>
                                                        <span>Hủy đơn</span>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                    else if (item.StatusOrder == 2)
                                    {
                                        <td><span>Đã xác nhận đơn hàng </span></td>
                                        <td>@item.CreateAt.Value.ToString("dd/MM/yyyyy")</td>
                                         <td>
                                        <div class="dropdown">
                                                <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Thao tác
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a href=" @Url.Action("vieworder", new { id = item.Id })" class="dropdown-item ">
                                                    <i class="mdi mdi-eye-outline me-2"></i>
                                                    <span>Xem đơn hàng</span>
                                                </a>
                                                <a href="@Url.Action("Delivery", new { id = item.Id })" class="dropdown-item">
                                                    <i class="mdi mdi-receipt-text-check-outline"></i>
                                                    <span>Giao hàng</span>
                                                </a>
                                                <a data-itemid="@item.Id" href="@Url.Action("CancelOrder", new { id = item.Id })" class="dropdown-item delete-record">
                                                    <i class="mdi mdi-receipt-text-remove"></i>
                                                    <span>Hủy đơn</span>
                                            </div>
                                        </div>
                                        </td>
                                    }
                                    else if (item.StatusOrder == 3)
                                    {
                                        <td>
                                            <span> Đang giao hàng </span>
                                        <td>@item.CreateAt.Value.ToString("dd/MM/yyyyy")</td>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Thao tác
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a href=" @Url.Action("vieworder", new { id = item.Id })" class="dropdown-item ">
                                                        <i class="mdi mdi-eye-outline me-2"></i>
                                                        <span>Xem đơn hàng</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                       
                                    }
                                    else if (item.StatusOrder == 4)
                                    {
                                        <td>
                                            <span>Giao hàng thành công </span>
                                        <td>@item.CreateAt.Value.ToString("dd/MM/yyyyy")</td>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Thao tác
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a href=" @Url.Action("vieworder", new { id = item.Id })" class="dropdown-item ">
                                                        <i class="mdi mdi-eye-outline me-2"></i>
                                                        <span>Xem đơn hàng</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                      
                                    }
                                    else if (item.StatusOrder == 5)
                                    {
                                        <td>
                                            <span>Đơn chờ hủy </span>
                                        <td>@item.CreateAt.Value.ToString("dd/MM/yyyyy")</td>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Thao tác
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a href=" @Url.Action("vieworder", new { id = item.Id })" class="dropdown-item ">
                                                        <i class="mdi mdi-eye-outline me-2"></i>
                                                        <span>Xem đơn hàng</span>
                                                    </a>
                                                    <a data-itemid="@item.Id" href="@Url.Action("CancelOrder", new { id = item.Id })" class="dropdown-item delete-record">
                                                        <i class="mdi mdi-receipt-text-remove"></i>
                                                        <span>Hủy đơn</span>
                                                </div>
                                            </div>
                                        </td>
                                        
                                    }
                                    else if (item.StatusOrder == 0)
                                    {
                                        <td>
                                            <span>Đơn đã hủy </span>
                                        <td>@item.CreateAt.Value.ToString("dd/MM/yyyyy")</td>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Thao tác
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a href=" @Url.Action("vieworder", new { id = item.Id })" class="dropdown-item ">
                                                        <i class="mdi mdi-eye-outline me-2"></i>
                                                        <span>Xem đơn hàng</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        
                                    }
                                </tr>
                                i = i + 1;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">Không có bản ghi nào!</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
           
            @if (Model != null && Model.Any())
            {
                <div class="row">
                    <div class="col-12 d-flex justify-content-end" style="float:right">
                        <a href="#">
                            @Html.PagedListPager(Model, page => Url.Action("index", new { page = page, sort = ViewBag.sort, searchtext = ViewBag.searchtext, status = ViewBag.status }), new PagedListRenderOptions()
                           {
                               ActiveLiElementClass = "active",
                               PageClasses = new[] { "page-link" },
                               LiElementClasses = new[] { "page-item" },
                               UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3", "size" },
                               LinkToNextPageFormat = "Tiếp",
                               LinkToPreviousPageFormat = "Trước",
                               MaximumPageNumbersToDisplay = 15,
                               DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                               DisplayLinkToNextPage = PagedListDisplayMode.Always
                           })
                        </a>

                    </div>
                </div>
            }

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var cancelButtons = document.querySelectorAll('.dropdown-item.delete-record');

        cancelButtons.forEach(function (cancelButton) {
            cancelButton.addEventListener("click", function (event) {
                event.preventDefault();
                var itemId = this.getAttribute('data-itemid');
                var confirmation = confirm("Bạn có chắc chắn muốn hủy đơn này không?");

                if (confirmation) {
                    // Chuyển hướng đến action HuyDon nếu xác nhận
                    window.location.href = '@Url.Action("CancelOrder", "Order")?id=' + itemId;
                } else {
                    // Không làm gì nếu hủy
                }
            });
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function(){
            $('#statusFilter').change(function(){
                $('#searchForm').submit();
            })
    })
</script>