<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["title"]</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="PShop Template">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="~/assets/styles/bootstrap4/bootstrap.min.css">
	<link href="~/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/animate.css">
	<link rel="stylesheet" type="text/css" href="~/assets/styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="~/assets/styles/responsive.css">
	<link rel="stylesheet" type="text/css" href="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
	<link rel="icon" type="image/png" href="~/icon/icon3.png" sizes="32x32">
	<style>
		body {
			padding-right: 0 !important;
		}

		.modal-open {
			overflow: auto;
			padding-right: 0 !important;
		}

		.swal2-shown .swal2-height-auto{
			overflow: auto;
			padding-right: 0 !important;
		}
	</style>
	@RenderSection("Styles", required : false)
</head>
<body >
	<div class="super_container">
		<!-- Header -->
		<header class="header trans_300">
			<!-- Top Navigation -->
			<div class="top_nav">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="top_nav_left">phuocvt1030@gmail.com</div>
						</div>
						<div class="col-md-6 text-right">
							<div class="top_nav_right">
								<ul class="top_nav_menu">
									<li class="account">
										
										@if (User.Identity.IsAuthenticated)
										{
											@* var userid = int.Parse(User.Claims.FirstOrDefault(u => u.Type == "Id")); *@
											var userid = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("Id");
											string UserIdValue = userid?.Value;
											<a href="#">
												Chào mừng: @User.Identity.Name
												<i class="fa fa-angle-down"></i>
											</a>
											<ul class="account_selection">
												<li><a asp-controller="account" asp-action="profile" asp-route-id="@UserIdValue"><i class="fa fa-user-circle" aria-hidden="true"></i>Thông tin</a></li>
												<li><a asp-controller="account" asp-action="changepassword" asp-route-id="@UserIdValue"><i class="fa fa-user-plus" aria-hidden="true"></i>Đổi mật khẩu</a></li>
												@if (User.IsInRole("Customer"))
												{
													<li><a asp-controller="account" asp-action="orderhistory" asp-route-id="@UserIdValue"><i class="fa fa-history" aria-hidden="true"></i>Lịch sử đơn hàng</a></li>
													<li><a asp-controller="voucher" asp-action="yourvouchers"><i class="fa fa-vimeo" aria-hidden="true"></i>Voucher của bạn</a></li>
												}
												@if(User.IsInRole("Admin") || User.IsInRole("Employee"))
												{
													<li><a asp-controller="admin" asp-action="index" asp-route-id="@UserIdValue"><i class="fa fa-history" aria-hidden="true"></i>Trang quản trị</a></li>
												}
												<li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-in" aria-hidden="true"></i> Đăng xuất</a></li>
											</ul>
										}										
										else
										{
											<a href="#">
												Tài khoản của tôi
												<i class="fa fa-angle-down"></i>
											</a>
											<ul class="account_selection">
												<li><a href="~/account/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
												<li><a href="~/account/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng ký</a></li>
											</ul>
										}
										@if (User.Identity.IsAuthenticated)
										{
											<div style="display:none">
												@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @id = "logoutForm" }))
												{
													@Html.AntiForgeryToken()
												}
											</div>
										}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Main Navigation -->
			<div class="main_nav_container">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-right">
							<div class="logo_container">
								<a asp-controller="Home" asp-action="index">P<span>shop</span></a>
							</div>
							<nav class="navbar">
								<ul class="navbar_menu">
									<li><a asp-controller="home" asp-action="index">Trang chủ</a></li>
									<li><a asp-controller="shop" asp-action="index">Cửa hàng</a></li>
									<li><a asp-controller="introduce" asp-action="index">Giới thiệu</a></li>
									<li><a asp-controller="news" asp-action="index">Tin tức</a></li>
									<li><a asp-controller="voucher" asp-action="index">Khuyến mãi</a></li>
									<li><a asp-controller="contact" asp-action="index">Liên hệ</a></li>
								</ul>
								<ul class="navbar_user">
									<li>
										<!-- Biểu tượng tìm kiếm -->
										<a href="#" data-toggle="modal" id="myModal" data-target="#searchModal">
											<i class="fa fa-search" aria-hidden="true"></i>
										</a>
									</li>

									<!-- modal -->
								
									<li><a asp-controller="wishlist" asp-action="index"><i class="far fa-heart"></i></a></li>
									<li class="checkout">
										<a asp-controller="shoppingcart" asp-action="index">
											<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											@{
												var procart = ShoeStore.Helpers.SessionExtensions.GetObjFromSession(Context.Session, ShoeStore.Helpers.MySetting.CART_KEY);
													<span id="checkout_items" class="checkout_items">@((procart?.Count() ?? 0))</span>
											}
											
										</a>
									</li>
								</ul>
								<div class="hamburger_container">
									<i class="fa fa-bars" aria-hidden="true"></i>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		@* @await Html.PartialAsync("_HeaderPartial.cshtml"); *@
		<div class="fs_menu_overlay"></div>
		<div class="hamburger_menu">
			<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
			<div class="hamburger_menu_content text-right">
				<ul class="menu_top_nav">
					<li class="menu_item has-children">
						@if (User.Identity.IsAuthenticated)
						{
							@* var userid = int.Parse(User.Claims.FirstOrDefault(u => u.Type == "Id")); *@
							var userid = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("Id");
							string UserIdValue = userid?.Value;
							<a href="#">
								Chào mừng: @User.Identity.Name
								<i class="fa fa-angle-down"></i>
							</a>
							<ul class="menu_selection">
								<li><a asp-controller="account" asp-action="profile" asp-route-id="@UserIdValue"><i class="fa fa-user-circle" aria-hidden="true"></i>Thông tin</a></li>
								<li><a asp-controller="account" asp-action="changepassword" asp-route-id="@UserIdValue"><i class="fa fa-user-plus" aria-hidden="true"></i>Đổi mật khẩu</a></li>
								@if (User.IsInRole("Customer"))
								{
									<li><a asp-controller="account" asp-action="orderhistory" asp-route-id="@UserIdValue"><i class="fa fa-history" aria-hidden="true"></i>Lịch sử đơn hàng</a></li>
									<li><a asp-controller="voucher" asp-action="yourvouchers"><i class="fa fa-vimeo" aria-hidden="true"></i>Voucher của bạn</a></li>
								}
								@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
								{
									<li><a asp-controller="admin" asp-action="index" asp-route-id="@UserIdValue"><i class="fa fa-history" aria-hidden="true"></i>Trang quản trị</a></li>
								}
								<li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-in" aria-hidden="true"></i> Đăng xuất</a></li>
							</ul>
						}
						else
						{
							<a href="#">
								Tài khoản của tôi
								<i class="fa fa-angle-down"></i>
							</a>
							<ul class="menu_selection">
								<li><a href="~/account/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
								<li><a href="~/account/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng ký</a></li>
							</ul>
						}
						@if (User.Identity.IsAuthenticated)
						{
							<div style="display:none">
								@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @id = "logoutForm" }))
								{
									@Html.AntiForgeryToken()
								}
							</div>
						}
					</li>
					<li class="menu_item"><a asp-controller="home" asp-action="index">Trang chủ</a></li>
					<li class="menu_item"><a asp-controller="shop" asp-action="index">Cửa hàng</a></li>
					<li class="menu_item"><a asp-controller="introduce" asp-action="index">Giới thiệu</a></li>
					<li class="menu_item"><a asp-controller="news" asp-action="index">Tin tức</a></li>
					<li class="menu_item"><a asp-controller="voucher" asp-action="index">Khuyến mãi</a></li>
				</ul>
			</div>
		</div>
		@RenderBody()

		<!-- Modal -->
		<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="searchModalLabel">Tìm kiếm sản phẩm</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- Thanh tìm kiếm -->
						<form asp-controller="shop" asp-action="index" method="post">
							<div class="row">
								<div class="col-md-10">
									<div class="form-group">
										<input type="text" class="form-control" id="searchInput" name="searchtext" placeholder="Nhập từ khóa">
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<button type="submit" class="btn btn-search btn-default" style="width:50px;cursor:pointer"><i class="fa fa-search" aria-hidden="true"></i></button>
									</div>
								</div>
							</div>

							
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Benefit -->

		<div class="benefit">
			<div class="container">
				<div class="row benefit_row">
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item d-flex flex-row align-items-center">
							<div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
							<div class="benefit_content">
								<h6>Giao hàng nhanh chóng</h6>
								<p>Bị thay đổi dưới một số hình thức</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item d-flex flex-row align-items-center">
							<div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
							<div class="benefit_content">
								<h6>Thanh toán online</h6>
								<p>Internet có xu hướng lặp lại</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item d-flex flex-row align-items-center">
							<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
							<div class="benefit_content">
								<h6>Hoàn trả trong vòng 45 ngày</h6>
								<p>Thuận tiện mua hàng</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item d-flex flex-row align-items-center">
							<div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
							<div class="benefit_content">
								<h6>Mở cửa cả tuần</h6>
								<p>8 AM - 09 PM</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		@await Html.PartialAsync("_NewsPartial.cshtml")
		
		<!-- Newsletter -->

		<div class="newsletter">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
							<h4>Bản tin</h4>
							<p>Xem tin tức mới nhất tại đây.</p>
						</div>
					</div>
					<div class="col-lg-6">
						<form action="post">
							<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
								@* <input id="newsletter_email" type="email" placeholder="email của bạn" required="required" data-error="Valid email is required."> *@
								<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit" asp-action="index" asp-controller="news">Tin tức</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
		@await Html.PartialAsync("_FooterPartial.cshtml")
	</div>
	
	<script src="~/assets/js/jquery-3.2.1.min.js"></script>
	<script src="~/assets/styles/bootstrap4/popper.js"></script>
	<script src="~/assets/styles/bootstrap4/bootstrap.min.js"></script>
	<script src="~/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
	<script src="~/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
	<script src="~/assets/plugins/easing/easing.js"></script>
	<script src="~/assets/js/custom.js"></script>
	<script src="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
	@* <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script> *@
    <script src="~/assets/js/contact_custom.js"></script>  
	<script src="~/js/jsShopping.js"></script>
	@* <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
	<df-messenger intent="WELCOME"
				  chat-title="PShop_AI"
				  agent-id="2f08cd4b-b2e7-499d-85d0-c3162b2b2757"
				  language-code="en"></df-messenger> *@
	<script>
		const myModal = document.getElementById('myModal')
		const searchModal = document.getElementById('searchModal')
		myModal.addEventListener('shown.bs.modal', () => {
			searchModal.focus()
		})
	</script>
	@await Component.InvokeAsync("Notyf")
	@await RenderSectionAsync("Scripts", required: false)
	
</body>
</html>

